<!doctype html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/navbar')%>
    <section>
        <ul>
            <li>
                <h1><a href="#">Yazı 1</a></h1>
                <p>Voluptate id magna proident ipsum magna eiusmod deserunt culpa.</p>
            </li>
        </ul>
    </section>
</body>
</html>